<div class="footer__container">
  <h2>Follow me</h2>
  <div class="footer__links">
    <ul>
      <a
        target="_blank"
        href="https://www.linkedin.com/in/stendal-cassio-117809187/"
        ><img src="/assets/linkedin.svg" alt="linkedin" />
        <li></li
      ></a>
      <a target="_blank" href="https://github.com/stendalcassio"
        ><img src="/assets/github.svg" alt="" />
        <li></li
      ></a>
      <a target="_blank" href="https://www.instagram.com/notstendal/"
        ><img src="/assets/instagram.svg" alt="" />
        <li></li
      ></a>
      <a
        target="_blank"
        href="https://api.whatsapp.com/send?phone=5571982147605"
        ><img src="/assets/whatsapp.svg" alt="" />
        <li></li
      ></a>
    </ul>
  </div>
</div>
