.footer__container {
  background-color: #7e57c2;
  width: 100%;
  height: 160px;
}

.footer__container h2 {
  color: #fff;
  text-align: center;
  padding: 1rem;
}

.footer__links ul {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.footer__links ul > a {
  margin-right: .6rem;
}

.footer__links ul > a > img {
  width: 20px;
}
