<div class="todolist__container">
  <div class="todolist__title">
    <h1>TODO-LIST <span>APP</span></h1>
  </div>
  <div class="todolist__input">
    <input type="text" placeholder="Digite sua task..." />
    <button><img src="assets/plus-square-fill.svg" alt="" /></button>
  </div>
  <div class="todolist__tasks">
    <div class="todolist__tasks__title">
      <p>OLÁ MUNDO</p>
    </div>
    <div class="todolist__tasks__icons">
      <span><img src="assets/pencil-square.svg" alt="alterar" /></span>
      <span><img src="assets/trash3-fill.svg" alt="excluir"/></span>
    </div>
  </div>
</div>